//Tipografia
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
$fuente_principal : "Lato", sans-serif;
// Colores


$morado_m1 :#6a73a0;
$morado_m2 :#8c92bc;
$morado_m3 :#b1bced;

$verde_v1 :#a4bc4b;
$verde_v3 :#d1ef5f;
$verde_v2 :#c4f45d;

$danger: #A20400;
$dangerB: #881001;

$warning: #E78900;
$warningB: #A55D00;

$success: #A3BC39; 
$successB: #005C23; 

$gris_g1 :#353535;
$gris_g2 :#7a7b7f;
$gris_g3 :#828282;

$negro :#000;
$blanco :#fff;


// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;